<a href="/hiringposts/{{id}}" class="text-decoration-none border border-danger rounded text-dark m-3 transition-swipe" id="hirecard">
    <header class="border-bottom border-dark text-center p-2">{{job_name}}</header>
    <div class="container-fluid d-flex justify-content-around text-center p-2">
        <p class="border-bottom border-dark d-inline">{{zipcode}}</p>
        <p class="border-bottom border-dark d-inline">${{price}}</p>
    </div>
        <div class="m-3">{{time}}</div>
</a>